<div class="todos-container">
    <app-create-todo [renderCompact]="true" (onNewTodo)="this.addNewTodo($event)"></app-create-todo>

    <ul class="todos-list" >
        <li class="todo" *ngFor="let todo of todos" >
            <div class="tags-container">
                <span class="tags">{{todo.tags | todoIcon : this.tags}}</span>
            </div>
            <app-strikethrough class="todo-text" [strike]="todo.isComplete">
                <app-text-edit-in-place [readOnly]="todo.isComplete" (update)="updateTodo(todo)">
                    <ng-template appTextViewMode>
                        <span class="todo-span">{{todo.text}}</span>
                    </ng-template>
                    <ng-template appTextEditMode>
                        <input class="todo-field" [(ngModel)]="todo.text" [value]="todo.text" />
                    </ng-template>
                </app-text-edit-in-place>
            </app-strikethrough>
            <div class="todo-spacer"></div>
            <div class="todo-complete-checkbox">
                <input type="checkbox" (change)="updateTodo(todo)" [(ngModel)]="todo.isComplete" />
            </div>
            <div class="todo-button-delete">
                <button (click)="deleteTodo(todo.id)">❌</button>
            </div>
        </li>
    </ul>
</div>
