<div class="todos-container">
    <div>
        <label for="new-todo-textfield">New Todo: </label>
        <input id="new-todo-textfield" type="text" (keypress)="newTodoOnEnter($event)" [(ngModel)]="newTodoText" placeholder="Need to do this..." />
        <button (click)="createNewTodo()">Create Todo</button>
    </div>
    <ul class="todos-list" >
        <li class="todo" *ngFor="let todo of todos" >
            <div>
                
            </div>
            <app-strikethrough class="todo-button" [strike]="todo.isComplete">
                <app-text-edit-in-place [readOnly]="todo.isComplete" (update)="updateTodo(todo)">
                    <ng-template appTextViewMode>{{todo.text}}</ng-template>
                    <ng-template appTextEditMode>
                        <input class="todo-field" [(ngModel)]="todo.text" [value]="todo.text" />
                    </ng-template>
                </app-text-edit-in-place>
            </app-strikethrough>
            <input class="todo-complete-checkbox" type="checkbox" (change)="updateTodo(todo)" [(ngModel)]="todo.isComplete" />
            <!-- <button class="todo-button-info">ℹ</button> -->
            <button class="todo-button-delete" (click)="deleteTodo(todo.id)">❌</button>
        </li>
    </ul>
</div>
