#login-btn {
    float: right;
}

#nav-greeting {
    float: right;
}

#logout-btn {
    float: right;
}

#signup-btn {
    float: right;
}

nav > a,span {
    margin-left: 1rem;
    margin-right: 1rem;
}